{% extends "base.html" %}{% block content %}
<div class="search-container">
  <form class="container" method="post" action="/search/">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-5" style="margin: 10px 0px">
        <input
          type="text"
          name="source"
          class="form-control"
          placeholder="Source"
        />
      </div>
      <div class="col-sm-5" style="margin: 10px 0px">
        <input
          type="text"
          name="destination"
          class="form-control"
          placeholder="Destination"
        />
      </div>
      <div class="col-sm-2" style="margin: 10px 0px">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
{% if buses %}
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for bus in buses %}
    <tr>
      <td>{{bus.bus_name}}</td>
      <td>{{bus.source}}</td>
      <td>{{bus.dest}}</td>
      <td>{{bus.date|date:"d M Y"}}</td>
      <td>{{bus.time}}</td>
      <td>{{bus.price}} Rs</td>
      <td><a href="/book/{{bus.id}}/">
        <button class="btn btn-primary">Book Ticket</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
{% endblock %}
